<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Title in the tab</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Trispace:wght@200;400;600;700&display=swap" rel="stylesheet">
	</head>
	<body>

		<section class="parent">
			<section class="left">
				<h1>Picture of the Day</h1>
			<input type="date" name="" value="">
			<button type="button" name="button">Get Picture</button>
	
			<h3>Description</h3>
			
			</section>

			<section class="right">
				<h2>Name</h2>
				<img src="" alt="">
				<iframe src="" frameborder='0'></iframe>
				
			</section>
			

		</section>
       

		

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>